#aiSuggestions{
    scroll-margin-top: 5rem;
    padding-top: 5rem;

}
.aiHeader{
    /* scroll-margin-top: 2.5rem; */
    color: var(--primary-color) !important;
}

.aiSubHeader{
    margin-bottom: 3.5rem;
    color: var(--bright-color) !important;
}

.suggestedText{
    color:var(--bright-color) !important;
}