.calculatorForm{
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: .5rem;
}
.calculatorInputs{
    margin: 1rem;
}

.incomeInputs{
    margin-bottom: 1rem;
}

.fixedExpenses{
    display: flex;
    flex-direction: column;
}