.calculatorForm{
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: .5rem;
    margin-top: 7.5rem;
}
.calculatorInputs{
    margin: 1rem;
}

.formField{
    display: grid;
    grid-template-columns: 12rem 12rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.fixedExpenses{
    display: grid;
    grid-template-columns: 12rem 12rem;
    margin-bottom: 1rem;
}

/* .form-control{
    margin-bottom: .5rem;
} */


.categoryHeader{
margin-bottom: .75rem;
}

.categoryDesc{
    margin-bottom: 1.5rem;
}

.form-label{
    text-align: left;
}