.calculatorForm{
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: .5rem;
    margin-top: 7.5rem;
}
.calculatorInputs{
    margin: 1rem;
}

.formField{
    display: grid;
    grid-template-columns: 12rem 12rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.fixedExpenses{
    display: grid;
    grid-template-columns: 12rem 12rem;
    margin-bottom: 1rem;
}

/* .form-control{
    margin-bottom: .5rem;
} */


.categoryHeader{
    margin-bottom: .75rem;
}

.categoryDesc{
    margin-bottom: 1.5rem;
}

.form-label{
    text-align: left;
}

.fieldLabel{
    display: flex;
    align-items: center;
    gap: .25rem;
    color: var(--dark-color) !important;
    margin-bottom: 0 !important;
}

.form-control{
    padding: .1rem .2rem !important;
}

.deleteIcon{
    cursor: pointer;
    
}

.deleteIcon:hover{
    color: red;
}

.navbar-collapse{
    gap: 2rem;

}

.navbar-link {
    font-weight: 400;
    color: var(--bright-color) !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}

.navbar-link.active {
    opacity: 1;
}