.navbar{
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: .32s ease-in-out;
    background-color: var(--dark-color) !important;
    color: var(--secondary-color) !important;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    flex-direction: column;
}

.navbar-elements-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.nav-item {
    list-style: none !important;
}

.nav-link{
    color: var(--bright-color) !important;
}

.navbar-brand{
    margin: 2rem;
    color: var(--secondary-color) !important;

}

.navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.workInProgressMessage{
    color: red !important;
}

.navbar-collapse{
    gap: 2rem;

}

.navbar-link {
    font-weight: 400;
    color: var(--bright-color) !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}

.navbar-link.active {
    opacity: 1;
}