.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: .32s ease-in-out;
    background-color: var(--dark-color);
    color: var(--secondary-color) !important;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.navbar-elements-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.nav-item {
    list-style: none !important;
}

.nav-link{
    color: var(--bright-color) !important;
}

.navbar-brand{
    margin: 2rem;
    color: var(--secondary-color) !important;

}

.navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

/* .navbarContainer{

}

.navbarSections{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
}

.navbarSection{
    display: flex;
    flex-direction: row;
} */